body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif !important;
}

.homepage-heading-h1 {
  font-size: 2.5rem;
}

.homepage-heading-h2 {
  font-size: 2rem;
}

p {
  font-size: 1.3rem;
  line-height: 2.1rem;
}

.row-margin {
  margin: .5rem 0;
  .my-btn {
    width: 120px;
  }
}

h1 {
  margin: 20px 0;
}

.navbar {
  border-radius: 0;
}

.input-group {
  margin-bottom: 1rem;
}

.github-logo {
  width: 25px;
  margin-left: .5rem;
}

.app {
  .panel-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
      background: #f2f2f2;
      padding: 1px 7px;
      border: 1px solid #ccc;
      border-radius: 2px;
      font-weight: bold;
      cursor: pointer;
    }
  }
}