body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif !important;
}

h1 {
  margin: 20px 0;
}

.navbar {
  border-radius: 0;
}

.line-break {
  width: 40%;
  height: 1px;
  background: rgb(234, 234, 234);
  margin: 3rem auto;
}

.about {
  h1, h2, h3, p {
    text-align: center;
  }
  .people {
    margin: 3rem 0;
  }
  .left p, .right p {
    text-align: justify;
    line-height: 30px;
    margin-bottom: 2rem;
  }
  .left h2, .right h2 {
    border-bottom: 1px solid #bfbfbf;
  }
  .left h2 {
    text-align: left;
  }
  .right h2 {
    text-align: right;
  }
}