body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif !important; }

.homepage-heading-h1 {
  font-size: 2.5rem; }

.homepage-heading-h2 {
  font-size: 2rem; }

p {
  font-size: 1.3rem;
  line-height: 2.1rem; }

.row-margin {
  margin: .5rem 0; }
  .row-margin .my-btn {
    width: 120px; }

h1 {
  margin: 20px 0; }

.navbar {
  border-radius: 0; }

.line-break {
  width: 40%;
  height: 1px;
  background: #eaeaea;
  margin: 3rem auto; }

.input-group {
  margin-bottom: 1rem; }

.alert {
  padding: 6px 12px; }

.about h1, .about h2, .about h3, .about p {
  text-align: center; }

.about .people {
  margin: 3rem 0; }

.about .left p, .about .right p {
  text-align: justify;
  line-height: 30px;
  margin-bottom: 2rem; }

.about .left h2, .about .right h2 {
  border-bottom: 1px solid #bfbfbf; }

.about .left h2 {
  text-align: left; }

.about .right h2 {
  text-align: right; }
